PORT=5000
APP_URL=http://localhost:3000
# DATABASE_URL="postgresql://neondb_owner:npg_mEyxpdWHz7J5@ep-green-tooth-a81u883f-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require"
BETTER_AUTH_SECRET=qIVs3DfizWA2xDQY73lwpR4dXJYzLFGd
BETTER_AUTH_URL=http://localhost:5000 # Backend Running Port

# BETTER-AUTH GENERATE CLI COMMAND
# pnpm dlx @better-auth/cli@latest generate --output ./prisma/schema/auth.prisma --config ./src/lib/auth.ts